:root {
   --background-image: url('https://cdn.discordapp.com/attachments/660206157335363585/936247672359239761/frame_10_delay-0.png');
   --gradient-percentage: 0%;
   --gradient-degree-of-rotation: 90deg;
 }

#button1 {
    background-image: var(--background-image);
    width:106px;
    background-repeat:no-repeat;
    background-size: 106px 325px;
 }
 
#ktl {
	background-image: linear-gradient(var(--gradient-degree-of-rotation), #000000 var(--gradient-percentage),#ffffff 100%), url('https://cdn.discordapp.com/attachments/660206157335363585/935613843097387029/272.png');
 }
.ktl {
	width: 260px;
	height: 325px;
	background-size: 260px 325px;
	background-repeat:no-repeat;
	background-blend-mode: difference, multiply;
	align-self: flex-end;
 }
 
.outline {
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
 }
 
i {
	align: center;
	font-family:consolas;
	font-size: 45px
 }
 
.insult-jopi {
	text-decoration: none;
	color:#ee323c
 }
 
.p1 {
	background:#FCCE40;
	display:flex;
	justify-content: space-between;
	border: 2px solid;
	border-color: #334734;
	background-image: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
 }
 
body {
	color: white;
	background:#c93939;
 }
 
h1 {
	width:1840px;
	height:492px;
	text-decoration: none;
	background: #ffffff;
	background-image: url('https://cdn.discordapp.com/attachments/660206157335363585/936261991109132358/unknown.png');
	background-repeat: no-repeat;
	background-size: 110% 140%;
	margin: 20px;
	padding: 100px:
	color: #000000;
	border: 1px solid black;
	justify-content: space-around;
 }
 
h2:hover {
	color:#8fce00;
	background:black
 }
 
img.palsh {
	opacity: 0;
	transition: 2.5s
 }
img.palsh:hover {
	opacity: 1
 }
 
.div1 {
	background:#746AB0;
	display:flex;
	justify-content:safe-center;
	height: 325px;
	background-image: linear-gradient(to bottom, #000000 0%,#ffffff 100%), url('https://cdn.discordapp.com/attachments/660206157335363585/935613843097387029/272.png');
	background-size:1920px 325px;
	background-repeat: no-repeat;
	background-blend-mode: difference, normal;
 }
 
strong.aaa {
	animation-duration: 3s;
	animation-name: slidein;
	animation-iteration-count: infinite;
	animation-direction:alternate;
 }

	@keyframes slidein {
		from {
			margin-left: 90%;
			width: 300%;
		}
		to {
			margin-left: 0%;
			width: 100%;
		}
 }	
 
.mainstage {
	display:flex;
	justify-content:space-around;
 }
	.stage {
        display: flex;
        height: 330px;
        width: 100%;
    }
    .fedorovich {
        align-self: flex-end;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        height: 225px;
        margin: 0 auto 0 auto;
        transform-origin: bottom;
        width: 225px;
    }
    .bounce {
        animation-name: bounce;
        animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    }
		@keyframes bounce {
			0%   { transform: scale(1,1)      translateY(0);}
			10%  { transform: scale(1.1,.9)   translateY(0);}
			30%  { transform: scale(.9,1.1)   translateY(-100px);}
			50%  { transform: scale(1.05,.95) translateY(0);}
			57%  { transform: scale(1,1)      translateY(-7px);}
			64%  { transform: scale(1,1)      translateY(0);}
			100% { transform: scale(1,1)      translateY(0);}
		}